.order-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .cancel-order-button {
    background-color: red;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .cancel-order-button:hover {
    background-color: darkred;
  }
  
  p {
    margin: 10px 0;
  }